/* Garantir que o HTML e Body ocupem toda a altura da tela */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #121212; /* Definir a cor de fundo preta */
}

/* Para garantir que os outros elementos se ajustem corretamente */
* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

